# eBPF features by kernel version https://github.com/iovisor/bcc/blob/master/docs/kernel-versions.md
# Fix to kernel >= 6.1 to provide bound BPF map types
available: [ os = "linux" &
	   (( os-distribution = "debian" & os-version >= "12" )    # Linux 6.1 & Libbpf 1.1.0
 	   |( os-distribution = "ubuntu" & os-version >= "23.04" ) # Linux 6.2 & Libbpf 1.1.0
	   |( os-distribution = "fedora" & os-version >= "38" ))   # Linux 6.2 & Libbpf 1.1.0
	   ]