available: [ os = "linux" & os-version >= "5.19"]
# Need to extend to the rest of the linux distros
depexts: [
  ["libelf-dev"] {os-distribution = "debian"}
  ["libelf-dev"] {os-distribution = "ubuntu"}
  ["libelf-dev"] {os-distribution = "opensuse"}
  ["elfutils-libelf-devel"] {os-distribution = "fedora"}
]
