available: [ os = "linux" & os-version >= "5.19"]
# Just specify debian dependencies for now
depexts: [
  ["libelf-dev"] {os-distribution = "debian"}
  ["libelf-dev"] {os-distribution = "ubuntu"}
  ["elfutils-libelf-devel"] {os-distribution = "fedora"}
]
